
/* p{
    background-color: blue;
    border: 7px solid red;
}
*/

h1
{
    position: sticky;
    background-color: black;
    border-color: gold;
    border-style: outset;
    text-align: center;
}

#robinson::first-letter 
{
    font-size: 2em;
    color: red;
    font-weight: bold;
}

.MLA 
{
    text-indent: 20px;
}

.item-a 
{
    grid-area: navbar;
}
.item-b 
{
    grid-area: main;
}
.item-c 
{
    grid-area: quote;
}
.item-d 
{
    grid-area: footer;
}

.container 
{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
        "navbar"
        "main"
        "quote footer footer footer";
    justify-items: stretch;
}

@media(min-width: 600px)
{
    p
    {
        font-size: 1.25rem;
    }
}

@media(min-width: 800px)
{
    p
    {
        font-size: 1.5rem;
    }
}

