
.headcolor 
{
    position: sticky;
    color:#cc9900;
    background-color: black;
    border-color: gold;
    border-style: outset;
    text-align: center;
}

#robinson::first-letter 
{
    font-size: 2em;
    color: red;
    font-weight: bold;
}

.MLA 
{
    text-indent: 20px;
}

.icon
{
    width: 25px;
    height: 25px;
    padding: 0px 0px 0px 10px;
}

.footer
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.box
{
    width: 100%;
    height: 200px;
    background: url(images/footer-background.jpg);
    background-size: cover;
}


.box_color
{
    color: blue;
    padding: 4px 0px 0px 10px;
}

@media(min-width: 600px)
{
    p
    {
        font-size: 1.25rem;
    }
}

@media(min-width: 800px)
{
    p
    {
        font-size: 1.5rem;
    }
}

@media print
{
    .headcolor
    {
        background: none;
        border-color: grey;
        color: black;
        font-family: 'Rozha One', serif;
    }
    
    p
    {
        color: black;
        font-family: 'Rozha One', serif;
        font-size: 1em;
    }
    blockquote
    {
        color: black;
        font-family: 'Rozha One', serif;

    }

    footer
    {
        color: black;
        font-family: 'Rozha One', serif;

    }

    @page
    {
        margin: 1in;
    }

    html
    {
        height: 100%;
    }
    
}