
.headcolor 
{
    position: sticky;
    color:#cc9900;
    background-color: black;
    border-color: gold;
    border-style: outset;
    text-align: center;
}

#robinson::first-letter 
{
    font-size: 2em;
    color: red;
    font-weight: bold;
}

.MLA 
{
    text-indent: 20px;
}

@media(min-width: 600px)
{
    p
    {
        font-size: 1.25rem;
    }
}

@media(min-width: 800px)
{
    p
    {
        font-size: 1.5rem;
    }
}