
nav ul 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: .5s;
} 

nav ul li  /* standard menu */
{
    padding: 15px 15px 15px 15px;
    width: 15%;
    margin: 5px;
    list-style-type: none;
    background: Black;

    position: sticky;
    top: 0;
}

nav ul li a /* standard menu link textproperties */
{
    font-family: Arial; 
    color: gold;
    font-size: 18px;
    text-decoration: none;
    text-align: right;
}



