
.headcolor 
{
    position: sticky;
    color:#cc9900;
    background-color: black;
    border-color: gold;
    border-style: outset;
    text-align: center;
}

#robinson::first-letter 
{
    font-size: 2em;
    color: red;
    font-weight: bold;
}

.MLA 
{
    text-indent: 20px;
}

@media(min-width: 600px)
{
    p
    {
        font-size: 1.25rem;
    }
}

@media(min-width: 800px)
{
    p
    {
        font-size: 1.5rem;
    }
}

@media print
{
    .headcolor
    {
        background: none;
        border-color: grey;
        color: black;
        font-family: 'Rozha One', serif;
    }
    
    p
    {
        color: black;
        font-family: 'Rozha One', serif;
        font-size: 1em;
    }
    blockquote
    {
        color: black;
        font-family: 'Rozha One', serif;

    }

    footer
    {
        color: black;
        font-family: 'Rozha One', serif;

    }

    @page
    {
        margin: 1in;
    }

    html
    {
        height: 100%;
    }
    
}