.headcolor 
{
    position: sticky;
    color:#cc9900;
    background-color: black;
    border-color: gold;
    border-style: outset;
    text-align: center;
}

.main_page
{
    height: 100%;
    width: 100%;
}

#robinson::first-letter 
{
    font-size: 2em;
    color: red;
    font-weight: bold;
}

.MLA 
{
    text-indent: 20px;
}

.icon
{
    width: 25px;
    height: 25px;
    padding: 0px 0px 0px 10px;
}

.iconbig
{
    position: absolute;
    width: 0px;
    -webkit-transition: width 0.3s linear 0s;
    transition: width 0.3s linear 0s;
    z-index:10;

}

.icon:hover + .iconbig
{
    width: 200px;
}

.footer
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.box
{
    width: 100%;
    height: 200px;
    background: url(images/footer-background.jpg);
    background-size: cover;
}

.box_color
{
    color: blue;
    padding: 4px 0px 0px 10px;
}

th
{
    text-align: center;
}

table
{
    width: 50%;
}
table, th, td
{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 3px;
}

tr:nth-child(odd)
{
    background-color: pink;
    color:black;  
}

tr:nth-child(even)
{
    background-color: lightblue;
    color:black;  
}


@media(min-width: 600px)
{
    p
    {
        font-size: 1rem;
    }

    .tabel
    {
        width:25%;
    }
}

@media(min-width: 800px)
{
    p
    {
        font-size: 1.2rem;
    }
}

@media print
{
    .headcolor
    {
        background: none;
        border-color: grey;
        color: black;
        font-family: 'Rozha One', serif;
    }
    
    p
    {
        color: black;
        font-family: 'Rozha One', serif;
        font-size: 1em;
    }
    blockquote
    {
        color: black;
        font-family: 'Rozha One', serif;

    }

    footer
    {
        color: black;
        font-family: 'Rozha One', serif;

    }

    @page
    {
        margin: 1in;
    }

    html
    {
        height: 100%;
    }
    
}